body {
    background-color: #f1f2f5 !important;
}


.text-theme {
    color: #5369f8 !important;
}

.login-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    border-radius: 0.375rem;
}

.login-card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}